# Environments
.venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Node / Next.js
node_modules/
.next/
out/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
*.log
uvicorn.log

# OS / Editor
.DS_Store
.idea/
.vscode/

# Project outputs
__results___files/
